<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="static/styles/css/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>failed</title>
        <link rel="icon"  href="static\images\bow.png">

</head>
<body >
    <p id="happy"><strong>YOUR BAD !!!</strong> </p>
    <img src="static/images/rufus_sad.gif" alt="success" class="rufus"/>
    <p class="description"><br>
      Your expectations are high as the price of the product.
         <br><br><strong class="black">"TRY YOUR LUCK NEXT TIME !"</strong></p>

</body>
</html>