<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="static/styles/css/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>success</title>
        <link rel="icon"  href="static\images\bow.png">

</head>
<body >
    <p id="happy"><strong>HURRAY🎉!!!!</strong> </p>
    <img src="static/images/rufus_happy.gif" alt="success" class="rufus"/>
    <p class="description">You're all set! The details you provided have been registered successfully.<br>
        We'll keep an eye on the price for you. Once it matches your expectation, we'll mail you right away with <b>Notify</b>.
         <br><br><strong class="black">"Thank you for joining us !"</strong></p>

</body>
</html>